# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
venv/
qkeras-env/

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/
*.egg

# Jupyter / IPython
.ipynb_checkpoints/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# VSCode / PyCharm / IDEs
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db