tensorflow
numpy
pyparser
pandas
matplotlib
scipy
setuptools
argparse
pyasn1
requests
pyparsing
pytest
tensorflow-model-optimization
networkx
scikit-learn
tqdm
keras-tuner
ruff
tensorflow_datasets
tf_keras # TODO: remove this when full keras3 support is implemented